
.cardContent{
  background-color: rgba(220, 199, 170, 0.75);
  position:relative;
  border-radius: 10px;
  border: 1px solid #6b7a87;
}
.triviaCard {
  margin:50px auto;
  min-height: 600px;
}
button {
  font-family: "Quicksand";
  display: block;
  margin: 15px auto;
  border: none;
  border-radius: 10px;
  background-color: rgba(220, 199, 170, 0.5);
}
button:hover {
  background-color: #f7882f;
  border-radius: 10px;
}
h1 {
  text-align: center;
  font-family: "Pacifico";
  font-size: 50px;
  text-shadow: 2px 2px #f7c331;
  margin: 20px auto;
}

.startButton {
  margin: 15px auto;
  position: relative;
  bottom: -200px;
}
body {
  background-image: url("../images/back.png");
  background-position: top left;
  color: #6b7a87;
}
#question, #gameMessage {
  font-family: "Quicksand";
  text-shadow: 2px 2px #f7882f;
}
#timer {
  font-family: "Quicksand";
  color: #f7882f;
  text-shadow: 2px 2px #6b7a87;
  background-color: #c5b195;
  border-radius: 10px;
}
img {
  border-radius: 10px;
  border: 2px solid #6b7a87;
}
